.space {
  width: 1em;
}

.gap {
  flex: 1;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;
}

.profile-picture {
  border-radius: 50%;
}
