<mat-toolbar color="primary" class="sticky" id="navbar">
  <button mat-icon-button (click)="navigationService.navigateTo('/')">
    <img src="assets/logo.png" alt="">
      <!-- image -->
  </button>

  <span>BEE PRODUCTIVE</span>

  <span class="gap"></span>

  @if (isLoggedIn()) {
    <button mat-button color="accent" (click)="authenticationStore.logout()">Log out</button>
  }
  @else {
    <button mat-button color="accent" (click)="navigationService.navigateTo('/signin')">Sign In</button>
    <button mat-button color="accent" (click)="navigationService.navigateTo('/signup')">Sign Up</button>
  }

</mat-toolbar>
