<mat-toolbar color="primary" class="sticky" id="navbar">
  <button mat-icon-button (click)="navigationService.navigateTo('/')" class="button-image">
    <img src="/assets/bee_logo.jpg" alt="">
      <!-- image -->
  </button>

  <span>BEE PRODUCTIVE</span>

  <span class="gap"> {{loggedUserEmail()}}</span>

  @if (loggedUserEmail()) {
    <button mat-button color="accent" (click)="authenticationStore.logout(); navigationService.navigateTo('/signin')">Log out</button>
  }
  @else {
    <button mat-button color="accent" (click)="navigationService.navigateTo('/signin')">Sign In</button>
    <button mat-button color="accent" (click)="navigationService.navigateTo('/signup')">Sign Up</button>
  }
</mat-toolbar>
