<span>Tasks of list "{{ listItem ? listItem.name : ""}}"</span>

<br>

<div cdkDropList class="drag-drop-list" (cdkDropListDropped)="drop($event)">
  @for (task of taskItems; track task) {
    <div class="drag-drop-element" cdkDrag>
      <app-task-item [taskItem]="task"></app-task-item>
    </div>
  }
</div>

<br>
<form (ngSubmit)="onNewTaskSubmit()" [formGroup]="newTaskFormGroup" class="list-form">
  <mat-form-field>
    <mat-label>Task</mat-label>
    <input matInput placeholder="Ex. Finish the project" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Due date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="endDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-flat-button [disabled]="!newTaskFormGroup.dirty || !newTaskFormGroup.valid">Add new task</button>
</form>

<hr>
<br>
Users who have access to this TODO list :
<mat-list>
  @for (user of users; track $index) {
    <mat-list-item class="user-who-have-access">{{ user.email }}</mat-list-item>
  }
</mat-list>

<br>

<form (ngSubmit)="onGrantAccessSubmit()" [formGroup]="grantAccessFormGroup" class="list-form">
  <mat-form-field>
    <mat-label>User email</mat-label>
    <input matInput formControlName="email" type="email">
  </mat-form-field>

  <button mat-flat-button [disabled]="!grantAccessFormGroup.dirty || !grantAccessFormGroup.valid">Grant access to user</button>
</form>
