<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign In<br><br></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>email</mat-label>
          <input (blur)="updateEmailErrorMessage()" formControlName="email" matInput type="email"/>
          <mat-error>{{ emailErrorMessage() }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input (blur)="updatePasswordErrorMessage()" formControlName="password" matInput type="password"/>
          <mat-error>{{ passwordErrorMessage() }}</mat-error>
        </mat-form-field>

        <div>
          Don't already have an account ?
          <a (click)="navigationService.navigateTo('/signup')" class="link">
            create one
          </a>
        </div>

        @if (credentialsErrorMessage()) {
          <br>
          <div class="red-error">
            Invalid credentials
          </div>
        }

        <br>

        <div class="actions">
          <button [disabled]="loginForm.invalid" color="primary" mat-raised-button type="submit">
            Sign In
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
